#register, #login {
    width: 300px;
    border: 1px solid #d6d7da;
    padding: 0px 15px 15px 15px;
    border-radius: 5px;
    font-family: arial;
    line-height: 16px;
    color: #333333;
    font-size: 14px;
    background: #ffffff;
    margin: 100px auto;
  }
  
  form label, form input , form button{
    display: block;
    margin-bottom: 10px;
    width: 90%
  }
  
  form input {
    padding: 10px;
    border: solid 1px #BDC7D8;
  
  }
  
  .button {
    background-color: #00BFFF;
    border-color: #3ac162;
    font-weight: bold;
    padding: 12px 15px;
    color: #ffffff;
  }
  
  .errorMsg {
    color: #cc0000;
    margin-bottom: 12px;
  }
  
  .sucessMsg {
    color: #6B8E23;
    margin-bottom: 10px;
  }



  *{
    margin: 0;
    padding: 0;
  }
  
  .page{
    height: 100vh;
    background-color: #512da8;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  .container{
    height: 430px;
    width: 400px;
    border-radius: 10px;
    background-color:black;
    
  }
  .heading{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1rem;
    font-weight: bold;
  
  }
  .img-holder{
    margin: auto;
    width: 150px;
    height: 150px;
    border: 3px black solid;
    border-radius: 5px;
    margin-top: 1rem;
  }
  .img{
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  #input[type="file"] {
      display: none;
  }
  .label{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
  .image-upload{
    margin: auto;
    width: 200px;
      height: 50px;
    color: white;
    border-radius: 10px;
    background-color: black;
    text-align: center;
    cursor: pointer;
  }
  #logout{
    margin-left: 1250px;
  }